/*
Theme Name: The Box
Theme URI: http://www.designlabthemes.com/the-box-wordpress-theme/
Author: Design Lab
Author URI: http://www.designlabthemes.com/
Description: Simple and minimal two columns Theme: custom header, custom background, custom colors, post thumbnails, post formats
Version: 1.4.2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: thebox
Tags: two-columns, right-sidebar, fixed-layout, responsive-layout, custom-header, custom-background, custom-menu, custom-colors, sticky-post, featured-images, post-formats, full-width-template, translation-ready

FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
This Theme is licensed under the GPL.
*/



/*

Index:

01: Normalize
02: Layout
03: Headings 
04: Text elements
05: Links
06: Alignment
07: Header
08: Content
09: Custom Formats
10: Media
11: Navigation
12: Widget
13: Footer
14: Comments
15: Additional Styles
16: Media Queries

*/


/* 01: Normalize 

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/	

*/

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


/* 02: Layout */

body {
	background: #f0f3f5;
}

#page {
	margin: auto;
	padding: 0;
	max-width: 980px;
}

.content-area {
	width: 65.3062%; /* 640px */
	float: left;
}

.widget-area {
	width: 30.6123%; /* 300px */
	float: right;
}

.sidebar-content .content-area {
	float: right;	
}

.sidebar-content .widget-area {
	float: left;	
}

/* Clearing floats */

.clearfix:after,
.entry-header:after,
.entry-content:after,
.entry-summary:after,
.widget:after,
.main-navigation > div > ul:after,
.page-numbers:after {
	clear: both;
}

.clearfix:before,
.clearfix:after,
.entry-header:before,
.entry-header:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.widget:before,
.widget:after,
.main-navigation > div > ul:before,
.main-navigation > div > ul:after,
.page-numbers:before,
.page-numbers:after  {
	display: table;
	content: "";
}

/* Text meant only for screen readers */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	margin: 0;
	line-height: 1;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #10c0cc;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* 03: Headings */

h1,h2,h3,h4,h5,h6 {
	clear: both;
}

h1 {
	font-size: 1.714em; /* 24px */
	line-height: 1.4;
	margin: 1.5em 0 0.5em;
}

h2 {
	font-size: 1.571em; /* 22px */
	line-height: 1.4;
	font-weight: 700;
	margin: 1.5em 0 0.5em;
}

h3 {
	font-size: 1.286em; /* 18px */
	font-weight: 700;
	margin: 0 0 0.5em;
}

h4 {
	font-size: 1.143em; /* 16px */
	font-weight: 700;
	margin: 0 0 0.5em;
}

h5 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 0.5em;
}

.site-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em; /* 28px */
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.site-title a {
	display: inline-block;
	color: #1a7cad;
}

.site-title a:hover {
	text-decoration: none;
	color: #0fa5d9;
}

.site-title a:active,
.site-title a:focus {
	outline: 0;
	text-decoration: none;
}

.site-header h1.menu-toggle {
	font-size: 1em;
}

.entry-title {
	float: left;
	max-width: 90%;
	width: 90%;
	margin: 0.25em 0 0;
	clear: none;
	font-weight: 400;
	color: #252525;
	font-size: 1.714em; /* 24px */
}


/* 04: Text elements */

body,
button,
input,
select,
textarea {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #454545;
}

.main-navigation,
.site-footer,
.widget-area,
.entry-footer,
.entry-meta {
	font-size: 0.929em /* 13px */
}

hr {
	background-color: #eee;
	border: 0;
	height: 1px;
	margin: 1em 0;
}

p {
	margin: 0 0 1.5em 0
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

b, strong {
	font-weight: 700;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
    font-style: italic;
    margin: 1.5em 0;
    padding: 0 1em;
    border-left: 4px solid #ddd;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.5em;
	padding: 1.5em;
	overflow: auto;
	max-width: 100%;
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

table {
	margin: 1.5em 0;
	width: 100%;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

th {
	font-weight: 700;
}

thead th {
	font-size: 1.143em;
}

th, td {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0.5em;
}

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #0fa5d9;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	line-height: 1;
	padding: 0.75em 1.5em;
	border: none;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #fff !important;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	color: #454545;
	border: 1px solid rgba(0,0,0,0.07);
	margin: 0.5em 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	color: #252525;
	border-color: rgba(0,0,0,0.2);
}

input[type=text],
input[type=email],
input[type=password] {
	padding: 0.5em 1em;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: 0.5em;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

input#submit {
	background: #0fa5d9;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 0.923em;
    text-transform: uppercase;
    line-height: 1.4;
}

input#submit:hover {
	background-color: #0fa5d9;
}

#content input#submit:hover {
	color: #fff !important;
}

#searchform input {
	display: inline-block;
}

.icon-font {
	display: inline-block;
	vertical-align: -10%;
}

.icon-font:before {
	font-size: 14px;
}

/* 05: Links */

a {
	text-decoration: none;
	color: #0fa5d9;
}

h1 a {
	color: #252525;
}

h2 a,
h3 a {
	color: #252525;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	outline: 0;
}

a:hover {
	color: #0fa5d9;
}

.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	text-decoration: none;
}

.more-link {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#content .more-link:hover {
    text-decoration: none;
    color: #757575;
}

/* Edit link */

.edit-link a {
	display: inline-block;
	padding: 0.25em 1em;
	margin-left: 0.5em;
	font-weight: 700;
	border: 1px solid #0fa5d9;
	background-color: #fff;
	color: #0fa5d9;	
	text-decoration: none;	
	font-size: 	0.923em;
	line-height: 1;
}

#content .edit-link a:hover {
	border-color: #252525;
	color: #252525;
}

/* 06: Alignment */

.alignleft,
.wp-caption.alignleft {
	display: inline;
	float: left;
	margin-right: 1em;
}

.alignright,
.wp-caption.alignright {
	display: inline;
	float: right;
	margin-left: 1em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0.5em auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* 07: Header */

.site-header {
	position: relative;
}

.site-brand {
	margin: 4.0817% 0 2.0409%; /* 40px 20px */
}

hgroup {
	width: 40%;
	float: left;
	margin: 0;
    padding: 0;
}

hgroup h1 a {
	text-decoration: none;
	outline: none;
	margin: auto
}

.site-description {
	color: #959595;
	color: rgba(0,0,0,0.5);
    display: inline-block;
    margin: 0;
    font-size: 1em; 
    font-weight: 400;
}

.assistive-text {
	display: none;
}

.header-image {
	display: block;
	text-decoration: none;
	margin-bottom: 3.125%;
}

.header-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* 07: Header > Menu */

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: #0fa5d9;
}

.main-navigation li {
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
}

.main-navigation li:first-child {
	margin-left: 0;
}

.main-navigation a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0 1em;
}

.main-navigation > .menu > ul > li > a:hover,
.main-navigation > div > ul > li > a:hover {
	color: #fff;
}

.main-navigation > .menu > ul > li.page_item_has_children > a,
.main-navigation > div > ul > li.menu-item-has-children > a {
	padding-right: 18px;
}

.main-navigation > .menu > ul > li.page_item_has_children > a:before,
.main-navigation > div > ul > li.menu-item-has-children > a:before {
	font-family: "icons-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	position: absolute;
	right: 2px;
	top: 18px;		
	content: "i";
	font-size: 14px;
	width: 14px;
	text-align: left;
	display: inline-block;
}

.main-navigation li:hover a,
.main-navigation li:focus a {
	background-color: rgba(255,255,255,0.2);
}

.main-navigation > div > ul > li:hover > ul,
.main-navigation > .menu > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
}

.main-navigation ul ul {
	visibility: hidden;
	opacity: 0;
	width: 180px;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 99999;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.main-navigation ul ul:after {
   	border-bottom: 6px solid #fff;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    margin: 0 auto 0 -4px;
    position: absolute;
    text-align: center;
    width: 0;
    left: 1em;
    top: -6px;
}

.main-navigation ul ul li {
	float: none;
	margin: 0;
	border-top: 1px dashed rgba(0,0,0,0.1);
}

.main-navigation ul ul li:first-child {
	border: 0;
}

.main-navigation ul ul a {
	color: #656565;
	display: block;
	height: auto;
    line-height: 1.5;
    padding: 0.75em 1em;
    background: #fff;
}

.main-navigation ul li:hover ul a,
.main-navigation ul li:focus ul a {
	background: #fff;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus {
	color: #0fa5d9;
}

.main-navigation ul ul ul {
	display: none;
	visibility: visible;
	opacity: 1;
	left: 100%;
	top: 0;
}

.main-navigation ul ul ul:after {
	content: none;
}

.main-navigation div ul ul li:hover > ul {
	display: block;
}

.main-navigation div ul ul ul li:hover > ul {
	display: block;
}

/* 07: Header > Small menu */

.menu-toggle {
	cursor: pointer;
	display: none;
	text-align: center;
}

button.menu-toggle {
	cursor: pointer;
	margin: auto;
	padding: 0;
	width: 30px;
	height: 30px;
	border: 0;
	background: transparent;
	text-align: center;
	-webkit-border-radius: 0;
	border-radius: 0;
}

button.menu-toggle .icon-font {
	color: #353535;
}

button.menu-toggle .icon-font:before {
	vertical-align: inherit;
	font-size: 28px;
}

@media screen and (max-width: 768px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		float: none;
	}
	.menu-toggle {
		position: absolute;
		top: 35px;
		right: 0;
	}
	.main-navigation.toggled .nav-menu {
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 999;
		background-color: #252525;
	}
	.main-navigation.toggled > div {
    	margin: 0;
	}
	.main-navigation.toggled ul {
		text-align: left;
	}
	.main-navigation.toggled ul li {
		display: block;
	}
	.main-navigation.toggled ul ul {
		visibility: visible;
		opacity: 1;
		position: static;
		display: block;
		left: auto;
		top: auto;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
		width: 100%;
	}
	.main-navigation.toggled ul ul:after,
	.main-navigation.toggled a:before {
		content: none !important;
	}
	.main-navigation.toggled ul a,
	.main-navigation.toggled ul ul a {
		display: block;
		width: auto;
		height: auto;
		padding: 1em;
		line-height: 1.5;
		color: #ddd;
		border-bottom: 1px solid #353535;
		background: transparent;
	}
	.main-navigation.toggled a:hover,
	.main-navigation.toggled ul ul a:hover,
	.main-navigation.toggled a:active,
	.main-navigation.toggled ul ul a:active,
	.main-navigation.toggled li:hover a,
	.main-navigation.toggled li:focus a {
		background-color: #252525;
	}
	.site-header .main-navigation.toggled ul ul a:hover {
		color: #fff;
	}
	.main-navigation.toggled li {
		float: none;
	}
	.main-navigation ul {
		display: none;
	}
	.nav-menu > li > .sub-menu,
	.nav-menu > li > .sub-menu > li > .sub-menu {
		visibility: visible;
		opacity: 1;
	}
		
}

/* Social media link */

.social-links {
    float: right;
    margin: 2.0409% 0 0; /* 20px */
    text-align: right;
    width: 50%;
}

.social-links a {
	width: 24px;
	height: 24px;
	display: inline-block;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	background: #353535;
	text-align: center;
	text-decoration: none;
	margin: 0 0 0 0.5em;
	
}

.social-links a:first-child {
	margin-left: 0;
}

.social-links [class^="icon-"]:before,
.social-links [class*=" icon-"]:before {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.social-links a:hover {
	background: #252525;
}

.social-links .rss:hover {
	background: #F28A29;
}

.social-links .twitter:hover {
	background: #1db0ed;
}

.social-links .facebook:hover {
	background: #3B5998;
}

.social-links .googleplus:hover {
	background: #dd4b39;
}

.social-links .linkedin:hover {
	background: #007bb6;
}

.social-links .instagram:hover {
	background: #517fa4;
}

.social-links .youtube:hover {
	background: #bb0000;
}

.social-links .pinterest:hover {
	background: #cb2027;
}

.social-links .stumbleupon:hover {
	background: #ea4b24;
}

.social-links .flickr:hover {
	background: #ff0084;
}

.social-links .tumblr:hover {
	background: #32506d;
}

.social-links .medium:hover {
	background: #000;
}

/* 08: Content */

.site-main {
	margin: 2.0409% 0;
}

.hentry {
	margin: 0 0 3.125% 0;
	padding: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.entry-header {
	margin-bottom: 2.34375%;
	position: relative;
	padding: 2.34375% 3.125%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.entry-content,
.entry-summary {
	margin: 0 0 2.34375% 0;
	padding: 0 3.125%;
}

.entry-content p:last-child,
.entry-summary p:last-child {
	margin-bottom: 0;
}

.entry-footer {
	padding: 2.34375% 3.125%;
	border-top: 1px solid rgba(0, 0, 0, 0.07);
	color: #959595;
}

.entry-footer p {
	margin: 0;
}

.entry-footer .icon-font {
	color: #0fa5d9;
}

.entry-meta {
	float: left;
	color: #959595;
}

.entry-time {
	position: relative;
	float: right;
	background-color: rgba(15,165,217,0.7);
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    height: 48px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    width: 48px;
}

.entry-time-day {
	display: block;
	line-height: 1;
	padding: 8px 0 3px;
}

.entry-time-month {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    line-height: 1;
    padding: 3px 0 0;
}

.hentry img {
	max-width: 100%;
	height: auto;
}

.post-thumbnail {
	margin: 0 0 1em 0;
	max-width: 100%;
}

.post-thumbnail img {
	display: block;
	margin: auto;
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sep {
	display: inline-block;
	padding: 0 0.5em;
	color: #b5b5b5;
}

.page-header {
	background-color: #FFFFFF;
    margin: 0 0 3.125% 0;
    padding: 2.34375% 3.125%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

.page-header h1 {
	font-size: 	0.857em; /*12px*/ 
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.page-header .taxonomy-description p {
	margin: 1em 0;
}

.single .entry-title {
	margin: 0;
}

.single .entry-header .entry-meta {
	float: left;
	width: 90%;
	max-width: 90%;
}

/* 08: Content > Archive */

.page-title {
	color: #959595;
}

.page-title span {
	color: #0fa5d9;
}

/* 08: Content > Author bio */

.author-info {
	background-color: #fff;
    margin: 0 0 3.125%;
    padding: 2.34375% 3.125%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    font-size: 0.929em;
}

.author-avatar {
	float: left;
	max-width: 80px;
	margin-right: 1em;
}

.author-avatar img {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

h3.author-title {
	clear: none;
	margin: 0;
	font-size: 1.077em;
	font-weight: 700;
}

.author-description p:last-child {
	margin-bottom: 0;
}

/* 09: Custom Formats */

.entry-format-icon {
	display: none;
	line-height: 48px;
}

.entry-format-icon:before {
	font-family: "icons-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 48px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-size: 21px;
	text-align: center;
	color: #fff;
}

.sticky .entry-time {
	background-color: #353535 !important;
}

.sticky .entry-time:before {
	content: none;
}

.sticky .entry-time-day,
.sticky .entry-time-month,
.format-image .entry-time-day,
.format-image .entry-time-month,
.format-gallery .entry-time-day,
.format-gallery  .entry-time-month,
.format-link .entry-time-day,
.format-link .entry-time-month,
.format-quote .entry-time-day,
.format-quote .entry-time-month,
.format-video .entry-time-day,
.format-video .entry-time-month {
	display: none;
}

.sticky .entry-format-icon,
.format-image .entry-format-icon,
.format-gallery .entry-format-icon,
.format-link .entry-format-icon,
.format-quote .entry-format-icon,
.format-video .entry-format-icon {
	display: block;
}

.sticky .entry-format-icon:before {
	content: "s";
}

.format-image .entry-format-icon:before {
	content: "t";
}

.format-gallery .entry-format-icon:before {
	content: "U";
}

.format-video .entry-format-icon:before {
	content: "u";
}

.format-link .entry-format-icon:before {
	content: "Q";
}

.format-quote .entry-format-icon:before {
	content: "a";
}

.format-aside .entry-header {
	display: none;
}

.format-quote .entry-summary,
.format-aside .entry-summary {
	padding: 3.125%;
}

.format-quote .entry-summary blockquote {
	margin: 0;
}

.format-image .entry-summary img {
	margin: 0
}


/* 10: Media */

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

.entry-content img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	border: 0;
	margin: 0;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto 1em;
	max-width: 100%;
}

.wp-caption-text {
	color: #757575;
    font-size: 0.929em;
    text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

#content .entry-content .gallery {
	margin-bottom: 1.5em;
}

#content .entry-content .gallery:last-child {
	margin-bottom: 0;
}

#content .gallery dl {
	margin: 1em 0 0;
}

#content .gallery .gallery-caption {
	margin: 0;
}

#content .gallery .gallery-item a img {
	border: 0;
    height: auto;
    max-width: 90%;
}

.site-content .gallery-columns-4 .gallery-item {
}

.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	display: block;
	max-width: 100%;
}

/* 11: Navigation */

.site-navigation {
	margin: 0 0 3.125%;
	overflow: hidden;
	padding: 2.34375% 3.125%;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.image-attachment .site-navigation {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Pagination */

ul.page-numbers { 
	clear: both;
	list-style-type: none;
	margin: 0 0 3.125% 0;
	padding: 0;
}

ul.page-numbers li { 
	display: block; 
	float: left;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 12px;
	margin-right: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
}

ul.page-numbers a,
ul.page-numbers span { 
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	color: #656565; 
}

.page-numbers.current,
.page-numbers.current:hover,
.page-numbers a:hover { 
	text-decoration: none;
	color: #FFF;
	background-color: #0fa5d9;
}


/* Infinite Scroll */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll #nav-above, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll #nav-below,
.infinite-scroll.neverending #colophon { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending #colophon {
	display: block;
}


/* 12: Widget */

.widget {
	margin: 0 0 6.66667%;
	padding: 6.666667%;
	color: #757575;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.widget-title {
	color: #353535;
	font-size: 1.154em;
	margin-bottom: 1em;
}

.widget ul {
	margin: 0;
	padding: 0;
}

.widget li {
	margin: 0;
	padding: 0.5em 0;
	list-style-type: none;
}

.widget_archive li a:before,
.widget_links li a:before,
.widget_categories li a:before,
.widget_meta li a:before,
.widget_recent_entries li a:before,
.widget_recent_comments li .comment-author-link:before {
	font-family: "icons-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	font-size: 14px;
	width: 14px;
	text-align: left;
	display: inline-block;
	vertical-align: -15%;
}

.widget_archive li a:before,
.widget_links li a:before,
.widget_categories li a:before,
.widget_meta li a:before,
.widget_recent_entries li a:before {
	content: "f";
}

.widget_recent_comments li .comment-author-link:before {
	content: "J";
	padding-right: 0.25em;
}

.widget select {
	max-width: 100%;
}

/* 12: Widget > Calendar widget */

.widget_calendar table {
	margin: 0;
}

.widget_calendar caption {
	color: #353535;
    font-size: 1.154em;
    margin-bottom: 1em;
    font-weight: 700;
}

/* 12: Widget > Search widget */

.widget_search {
	padding: 0;
	border: none;
}

.widget_search h3 {
	padding: 1.333em 1.333em 0;
}

.widget_search #searchsubmit {
	display: none;
}

.widget_search input#s {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	width: 100%;
	margin: 0;
	padding: 0.75em 1.5em;
	border: 0;
}

/* 12: Widget > Comment widget */

.widget_recent_comments a {
	color: #999;
}

.widget_recent_comments a.url {
	color: #0FA5D9;
}

.widget_recent_comments li a.url:before {
	content: "J";
	padding-right: 0.25em;
}

/* 12: Widget > Video widget */

.thebox-video-embed {
	margin-bottom: 0.5em;
}


/* 13: Footer */

.site-footer {
	clear: both;
	color: #ccc;
    padding: 2.04082%;
    background: #353535;
}

.site-footer a {
	color: #fff;
}

.credits,
.footer-navigation {
	width: 45%;
	margin: 1.0639% 0;
}

.credits {
	float: left;
}

.footer-navigation {
	float: right;
	text-align: right;
}

.footer-navigation .menu li,
.footer-navigation .menu li a {
	display: inline-block;
}

.footer-navigation .menu {
	margin: 0;
	padding: 0;
}

.footer-navigation .menu li {
	margin: 0 0 0 0.5em;
}

.footer-navigation .menu li:first-child {
	margin-left: 0;
}

/* 13: Footer > #tertiary */

#tertiary {
	border-bottom: 1px solid rgba(255,255,255,0.05);
	margin: 0 0 2.1277% 0;
}

#tertiary .widget {
    width: 47.5%;
    padding: 0;
	margin-bottom: 2.1277%;
	float: left;
	border: none;
	background: transparent;
	color: #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#tertiary .widget-title {
	font-size: 0.923em;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 0.5em;
}

#tertiary .widget_nav_menu ul {
	margin: 0;
	padding: 0;	
}

#tertiary .widget_nav_menu ul ul {
	display: none;
}

#tertiary .widget_nav_menu ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 2px;
}

#tertiary .widget:nth-child(2n) {
    margin-right: 0;
}

#tertiary .widget:nth-child(2n+1) {
    margin-right: 5%;
}

#tertiary .widget_search input#s {
	width: 50%;
}

#tertiary table,
#tertiary th,
#tertiary td {
	border-color: #555;
}

#tertiary caption {
	margin: 0 0 0.5em 0;
	color: #fff;
}

#tertiary thead th {
	background: #252525;
}

#tertiary td a {
	color: #0FA5D9
}


/* 14: Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {}

input[type="text"],
textarea {
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	display: block
}

.comments-area {
	margin: 3.125% 0;
	font-size: 0.929em;
	padding: 3.125%;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.comments-area h2,
.comments-area h3 {
	font-size: 1.385em; /* 18px */
	color: #353535;
}

.comments-area h3.comments-title {
	margin-bottom: 1.5em;
}

.comments-area label {
	display: inline-block;
	font-weight: 700;
}

.form-allowed-tags {
	display: none;
}

.commentlist {
	margin: 1em 0
}

.commentlist li {
	list-style-type: none;
	margin: 0 0 1.5em 0;
}

.comment .avatar {
	float: left;
	margin-right: 1em;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.comment-content {
	clear: both;
	padding: 0.5em 0
}

.comment-content p:last-child {
	margin: 0;
}


/* 15: Additional Styles */


/* No Sidebar Template */

.page-template-no-sidebar-php .content-area {
	width: 100%;
	float: none;
}

.page-template-no-sidebar-php .page {
	margin-bottom: 2.0409%;
}

.page-template-no-sidebar-php .entry-header {
	padding: 1.5307% 2.0409%;
	margin-bottom: 1.5307%;
}

.page-template-no-sidebar-php .entry-content {
	padding: 0 2.0409%;
	margin-bottom: 1.5307%;
}

.page-template-no-sidebar-php .entry-footer {
	padding: 1.5307% 2.0409%;
}

.page-template-no-sidebar-php .comments-area {
	padding: 2.0409%;
	margin: 2.0409% 0;
}

/* 16: Media Queries */

@media screen and (min-width: 769px) and (max-width: 1023px) {   
	#page {
	max-width: 740px;
	}
	hgroup {
	width: 40%;
	}
	.content-area,
	.widget-area {
	float: none;
	width: 100%;
	margin: auto;
	padding: 0;
	}
	.widget {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 3.125%;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	}
}

@media screen and (max-width: 768px) { 
	body {
	font-size: 16px;
	}
	.main-navigation,
	.site-footer,
	.widget-area,
	.entry-footer,
	.entry-meta,
	.entry-time,
	.author-info {
	font-size: 0.875em; /* 14px */
	}
	#page {
	max-width: 90%;
    width: 90%;
    padding: 0 5%;
    margin: 0;
	}
	/* Header */
	hgroup,
	.social-links {
	width: 100%;
	float: none;
	text-align: left;
	}
	hgroup {
	min-height: 60px;
	margin-top: 0;
	width: 60%;
	}
	hgroup h1 {
	margin-bottom: 3%;
	}
	hgroup h1 a {
	margin: auto;
	}
	.social-links {
	float: none;
	margin: 2% 0 0;
	}
	.site-brand {
	float: none;
	padding: 0;
	margin: 5% 0;
	}
	.main-navigation {
	float: none;
	margin: 0 0 5% 0;
	}
	.main-navigation ul {
	float: none;
	}
	.header-image {
	margin: 0 0 5% 0;
	}
	/* Layout */
	.site-main {
	margin: 0;
	}
	.content-area,
	.widget-area {
	float: none;
	width: 100%;
	margin: auto;
	}
	.site-footer {
	padding: 3%;
	margin-top: 5%;
	}
	#tertiary,
	.credits,
	.footer-navigation {
	margin: 0 0 2.5% 0;
	}
	.credits,
	.footer-navigation {
	width: 100%;
	float: none;
	text-align: left;
	}
	/* Hentry */
	.entry-title {
	width: 100%;
	max-width: 100%;
	float: none;
	clear: left;
	line-height: 1.3;
	margin: 0;
	}
	.hentry,
	#content .flexslider {
	margin-bottom: 5%;
	}
	.entry-header,
	.entry-footer,
	.page-template-no-sidebar-php .entry-header,
	.page-template-no-sidebar-php .entry-footer { 
	padding: 3%;
	}	
	.entry-content,
	.entry-summary,
	.page-template-no-sidebar-php .entry-content {
	padding: 0 3%;
	}
	.entry-header,
	.entry-content,
	.entry-summary,
	.page-template-no-sidebar-php .entry-header,
	.page-template-no-sidebar-php .entry-content {	
	margin-bottom: 3%;
	}
	.comments-area,
	.page-template-no-sidebar-php .comments-area {
	margin: 5% 0;
	padding: 3%;
	}
	.author-info,
	.page-header {
	padding: 3%;
	margin-bottom: 5%;
	}
	/* Images */
	.post-thumbnail img {
	float: none;
	margin: auto;
	max-width: 100%;
	width: 100%;
	height: auto;
	}
	/* Meta */
	.entry-time {
	display: none;
	text-transform: none;
	color: #959595 !important;
	}
	.entry-time:before {
	content: none;
	}
	.single .entry-header .entry-meta {
	width: 100%;
	max-width: 100%;
	float: none;
	}
	.sticky .entry-time,
	.entry-time {
	float: none;
	height: auto;
	width: auto;
	background: transparent !important;
	color: #727272;
	font-weight: 400;
	letter-spacing: normal;
	text-align: left;
	-webkit-border-radius: 0;
	border-radius: 0;
	}
	.entry-time-day,
	.entry-time-month {
	display: inline;
	padding: 0;
	}
	.sticky .entry-time-day,
	.sticky .entry-time-month,
	.format-image .entry-time-day,
	.format-image .entry-time-month,
	.format-link .entry-time-day,
	.format-link .entry-time-month,
	.format-quote .entry-time-day,
	.format-quote .entry-time-month,
	.format-video .entry-time-day,
	.format-video .entry-time-month {
	display: inline;
	}
	.entry-format-icon:before {
	content: none !important;
	}
	/* Widget */
	.widget {
	padding: 3%;
	margin-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	}
	/* Tertiary */
	#tertiary .widget_nav_menu {
	float: none;
	max-width: 100%;
	width: 100%;
	text-align: left;
	padding: 0.25em 0
	}
	#tertiary .widget_nav_menu ul li:first-child {
	padding-left: 0;
	}
	#tertiary .widget {
	width: 100%;
	float: none;
	}
	/* Site Navigation */
	.site-navigation {
	margin-bottom: 5%;
	padding: 3%;
	}
	ul.page-numbers {
	margin-bottom: 5%;
	}
}

@media screen and (max-width: 480px) {
	/* Header */
	button.menu-toggle {
	top: 25px;
	}
	.header-image {
	display: none;
	}
	.social-links {
	margin-top: 3%;
	}
	.social-links a {
	margin-left: 0.25em;
	}
	.site-brand {
	margin-bottom: 10%;
	}
	.page-header {
	padding: 5%;
	}
	/* Layout */
	.site-footer {
	padding: 5%;
	margin-top: 5%;
	}
	/* Hentry */
	.entry-header,
	.entry-footer,
	.page-template-no-sidebar-php .entry-header,
	.page-template-no-sidebar-php .entry-footer { 
	padding: 5%;
	}	
	.entry-content,
	.page-template-no-sidebar-php .entry-content,
	.entry-summary {
	padding: 0 5%;
	}
	.entry-header,
	.entry-content,
	.page-template-no-sidebar-php .entry-header,
	.page-template-no-sidebar-php .entry-content,
	.entry-summary {	
	margin-bottom: 5%;
	}
	.author-info {
	padding: 5%;
	}
	.comments-area,
	.page-template-no-sidebar-php .comments-area {
	padding: 5%;
	}	
	/* Widget */
	.widget {
	padding: 5%;
	}
	/* Tertiary */
	#tertiary .widget_search input#s {
	width: 80%;
	}
	/* Site Navigation */
	.site-navigation {
	padding: 5%;
	}
	/* Images */
	.hentry img {
	float: none;
	margin: 0 auto 1.5em;
	text-align: center;
	display: block;
	}
	.post-thumbnail {
	float: none;
	max-width: 100%;
	margin: 0 auto 5%;
	}
	.post-thumbnail img {
	margin: auto;
	}
	/* Flexslider */
	.flex-caption {
	left: 0 !important;
	bottom: 0 !important;
	width: 90% !important;
	padding: 2% 5% !important;
	}
	.flexslider .slides h2 {
	margin: 0 !important;
	}
	.flexslider .slides .flex-excerpt {
	display: none;
	}
	.flexslider .flex-direction-nav {
	top: 10px !important;
	right: 10px !important;
	}
}