/*
Theme Name: Custom Flat Theme
Theme URI: http://idc-mk.com/
Author: IDC-MK (by ShapeBootstrap)
Author URI: http://idc-mk.com/
Description: The "Flat Theme" theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, full-width-template, post-formats, sticky-post, theme-options, translation-ready
Text Domain: flattheme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
body {
  padding-top: 80px;
  color: #34495e;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body > section,
#boxed > section {
  padding: 50px 0;
}

#boxed{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
#boxed #header{
  left: auto;
  min-width: 1200px;
  right: auto;
}

.center {
  text-align: center;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* .btn */
.btn {
  font-weight: 300;
}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
.btn-xlg {
  padding: 24px 48px;
  font-size: 24px;
}
.btn-xlg [class^="icon-"],
.btn-xlg [class*=" icon-"] {
  margin-right: 10px;
}

/* Anchor Link */
a{
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* iFrame */
.iframe-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */

  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  overflow: hidden;
}
.iframe-container iframe,
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Edit button */
.post-edit-link {
  font-size: 12px;
  color: #999;
  opacity: 0;
}
.post:hover .post-edit-link,
.page:hover .post-edit-link {
  opacity: 1;
}
/* =WordPress Core
-------------------------------------------------------------- */

.sticky{}

.bypostauthor{}

.alignnone {
  margin: 10px 0 20px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto;
}
.alignright {
  float: right;
  margin: 20px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 20px 20px 20px 0;
}
.wp-caption {
  background: #eee;
  padding: 5px;
  text-align: center;
  max-width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  padding: 5px 0 0;
}
.entry-caption {
  margin-top: 15px;
}
.gallery {
  margin-bottom: 20px;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
  display: table;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(46%);
  max-width: calc(46%);
  text-align: center;
}
.gallery-columns-3 .gallery-item {
  max-width: 31%;
  max-width: -webkit-calc(29.299999999999997%);
  max-width: calc(29.299999999999997%);
  text-align: center;
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(21%);
  max-width: calc(21%);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(16%);
  max-width: calc(16%);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(12.7%);
  max-width: calc(12.7%);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(10.28%);
  max-width: calc(10.28%);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(8.5%);
  max-width: calc(8.5%);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(7.1%);
  max-width: calc(7.1%);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%;
}
.gallery-caption:before {
  box-shadow: 0 -10px 15px #000000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}
.navbar .navbar-main {
  margin-top: 20px;
  float: right;
}
.navbar .navbar-main > li {
  margin-left: 5px;
}
.navbar .navbar-main > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: #bdc3c7;
}
.navbar .navbar-main > li:focus > a,
.navbar .navbar-main > li:active > a,
.navbar .navbar-main > li:hover > a,
.navbar .navbar-main > li.active > a,
.navbar .navbar-main > li.active:hover > a,
.navbar .navbar-main > li.open > a,
.navbar .navbar-main > li.open:hover > a {
  background-color: #2c3e50;
  color: #fff;
}
.navbar .navbar-main .dropdown-menu {
  background-color: #2c3e50;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: -3px;
}
.navbar .navbar-main .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #bdc3c7;
}
.navbar .navbar-main .dropdown-menu > li:hover > a,
.navbar .navbar-main .dropdown-menu > li:focus > a,
.navbar .navbar-main .dropdown-menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar .navbar-main .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar .navbar-main .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-main li.dropdown:hover > ul.dropdown-menu {
  display: block;
  -webkit-animation: fadeInUp 300ms;
  -moz-animation: fadeInUp 300ms;
  -ms-animation: fadeInUp 300ms;
  -o-animation: fadeInUp 300ms;
  animation: fadeInUp 300ms;
}
.navbar .navbar-main .sub-menu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: 0;
}
#mobile-menu .navbar-collapse {
  max-height: 100%;
}
ul li span.menu-toggler {
  display: inline-block;
  width: 30px;
  cursor: pointer;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
ul li span.menu-toggler i {
  display: block;
  line-height: 40px;
}
ul li span.menu-toggler .icon-angle-right,
ul li span.menu-toggler.collapsed .icon-angle-down {
  display: none;
}
ul li span.menu-toggler .icon-angle-down,
ul li span.menu-toggler.collapsed .icon-angle-right {
  display: block;
}
.sp-mobile-menu ul li.active > a,
.sp-mobile-menu ul li:hover > a {
  color: #fff;
}

ul {
  padding-left: 20px;
}
.turquoise,
.green-sea,
.sun-flower,
.orange,
.emerald,
.nephrits,
.carrot,
.pumkin,
.peter-river,
.belize-hole,
.alizarin,
.pomegranate,
.amethyst,
.wisteria,
.clouds,
.silver,
.wet-asphalt,
.midnight-blue,
.concrete,
.asbestos {
  color: #fff;
}
.turquoise h1,
.green-sea h1,
.sun-flower h1,
.orange h1,
.emerald h1,
.nephrits h1,
.carrot h1,
.pumkin h1,
.peter-river h1,
.belize-hole h1,
.alizarin h1,
.pomegranate h1,
.amethyst h1,
.wisteria h1,
.clouds h1,
.silver h1,
.wet-asphalt h1,
.midnight-blue h1,
.concrete h1,
.asbestos h1,
.turquoise h2,
.green-sea h2,
.sun-flower h2,
.orange h2,
.emerald h2,
.nephrits h2,
.carrot h2,
.pumkin h2,
.peter-river h2,
.belize-hole h2,
.alizarin h2,
.pomegranate h2,
.amethyst h2,
.wisteria h2,
.clouds h2,
.silver h2,
.wet-asphalt h2,
.midnight-blue h2,
.concrete h2,
.asbestos h2,
.turquoise h3,
.green-sea h3,
.sun-flower h3,
.orange h3,
.emerald h3,
.nephrits h3,
.carrot h3,
.pumkin h3,
.peter-river h3,
.belize-hole h3,
.alizarin h3,
.pomegranate h3,
.amethyst h3,
.wisteria h3,
.clouds h3,
.silver h3,
.wet-asphalt h3,
.midnight-blue h3,
.concrete h3,
.asbestos h3,
.turquoise h4,
.green-sea h4,
.sun-flower h4,
.orange h4,
.emerald h4,
.nephrits h4,
.carrot h4,
.pumkin h4,
.peter-river h4,
.belize-hole h4,
.alizarin h4,
.pomegranate h4,
.amethyst h4,
.wisteria h4,
.clouds h4,
.silver h4,
.wet-asphalt h4,
.midnight-blue h4,
.concrete h4,
.asbestos h4,
.turquoise h5,
.green-sea h5,
.sun-flower h5,
.orange h5,
.emerald h5,
.nephrits h5,
.carrot h5,
.pumkin h5,
.peter-river h5,
.belize-hole h5,
.alizarin h5,
.pomegranate h5,
.amethyst h5,
.wisteria h5,
.clouds h5,
.silver h5,
.wet-asphalt h5,
.midnight-blue h5,
.concrete h5,
.asbestos h5,
.turquoise h6,
.green-sea h6,
.sun-flower h6,
.orange h6,
.emerald h6,
.nephrits h6,
.carrot h6,
.pumkin h6,
.peter-river h6,
.belize-hole h6,
.alizarin h6,
.pomegranate h6,
.amethyst h6,
.wisteria h6,
.clouds h6,
.silver h6,
.wet-asphalt h6,
.midnight-blue h6,
.concrete h6,
.asbestos h6 {
  color: #fff;
}
.turquoise {
  background-color: #1abc9c;
}
.green-sea {
  background-color: #16a085;
}
.sun-flower {
  background-color: #f1c40f;
}
.orange {
  background-color: #f39c12;
}
.emerald {
  background-color: #2ecc71;
}
.nephritis {
  background-color: #27ae60;
}
.carrot {
  background-color: #e67e22;
}
.pumkin {
  background-color: #d35400;
}
.peter-river {
  background-color: #3498db;
}
.belize-hole {
  background-color: #2980b9;
}
.alizarin {
  background-color: #e74c3c;
}
.pomegranate {
  background-color: #c0392b;
}
.amethyst {
  background-color: #9b59b6;
}
.wisteria {
  background-color: #8e44ad;
}
.clouds {
  background-color: #ecf0f1;
  color: #777;
}
.clouds h1,
.clouds h2,
.clouds h3,
.clouds h4,
.clouds h5,
.clouds h6 {
  color: #888;
}
.silver {
  background-color: #bdc3c7;
}
.wet-asphalt {
  background-color: #34495e;
}
.wet-asphalt a {
  color: #bdc3c7;
}
.wet-asphalt a:hover {
  color: #d9534f;
}
.midnight-blue {
  background-color: #2c3e50;
}
.concrete {
  background-color: #95a5a6;
}
.asbestos {
  background-color: #7f8c8d;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */

  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main-slider ,
[id*="container-slider"] {
  position: relative;
}
#main-slider .carousel h2 ,
[id*="container-slider"] .carousel h2 {
  font-size: 36px;
}
#main-slider .carousel .btn ,
[id*="container-slider"] .carousel .btn {
  border: 3px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 0;
  margin-top: 5px;
}
#main-slider .carousel .btn:hover ,
[id*="container-slider"] .carousel .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#main-slider .carousel .boxed ,
[id*="container-slider"] .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}
#main-slider .carousel .item ,
[id*="container-slider"] .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child ,
[id*="container-slider"] .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active ,
[id*="container-slider"] .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
[id*="container-slider"] .prev,
#main-slider .next ,
[id*="container-slider"] .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
[id*="container-slider"] .prev:hover,
#main-slider .next:hover ,
[id*="container-slider"] .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#main-slider .prev ,
[id*="container-slider"] .prev {
  left: 10px;
}
#main-slider .next ,
[id*="container-slider"] .next {
  right: 10px;
}
#main-slider .active .animation.animated-item-1 ,
[id*="container-slider"] .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 ,
[id*="container-slider"] .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 ,
[id*="container-slider"] .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 ,
[id*="container-slider"] .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
#services .media:hover .icon-md {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Portfolio */
#recent-works {
  padding: 90px 0;
}
#recent-works .item-inner {
  position: relative;
  margin: 0;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* Pricing Table */
.pricing-tables .plan {
  border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  background: #3498db;
  text-align: center;
  padding: 30px 0;
}
.pricing-tables .plan li {
  padding: 5px 0;
  color: #fff;
}
.pricing-tables .plan li ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pricing-tables .plan li.plan-name {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
.pricing-tables .plan li.plan-name h3 {
  margin: 0;
}
.pricing-tables .plan li.plan-price {
  margin-bottom: 10px;
}
.pricing-tables .plan li.plan-price > div {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 24px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.pricing-tables .plan li.plan-price > div sup {
  font-size: 10px;
  line-height: 10px;
}
.pricing-tables .plan li.plan-price > div > small {
  display: block;
  font-size: 11px;
}
.pricing-tables .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.pricing-tables .plan.featured {
  background-color: #2c3e50;
}

/* Title */
#title h1 {
  margin: 0;
  font-size: 36px;
}

/* Meet The Team */
#meet-the-team .designation {
  margin-top: 5px;
  display: block;
  font-size: 13px;
}
.img-thumbnail {
  border: 0;
}
.progress,
.progress .bar {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
}
.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}

/* Breadcrumb */
ul.breadcrumb {
  margin: 20px 0 0;
  background: transparent;
}
ul.breadcrumb > li {
  text-shadow: none;
}
ul.breadcrumb > li > a,
ul.breadcrumb > li .divider {
  color: #fff;
}
ul.breadcrumb > li.active {
  color: rgba(255, 255, 255, 0.7);
}
ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}
.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.btn-social.btn-facebook {
  background: #4f7dd4;
}
.btn-social.btn-facebook:hover {
  background: #789bde;
}
.btn-social.btn-twitter {
  background: #5bceff;
}
.btn-social.btn-twitter:hover {
  background: #8eddff;
}
.btn-social.btn-linkedin {
  background: #21a6d8;
}
.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}
.btn-social.btn-google-plus {
  background: #dc422b;
}
.btn-social.btn-google-plus:hover {
  background: #e36957;
}
.btn-social:hover {
  color: #fff;
}
#social {
  text-align: center;
}
.icon-social {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-social.icon-facebook {
  background-color: #3c5899;
}
.icon-social.icon-facebook:hover {
  background-color: #4e6fba;
}
.icon-social.icon-twitter {
  background-color: #29c5f6;
}
.icon-social.icon-twitter:hover {
  background-color: #5ad2f8;
}
.icon-social.icon-google-plus {
  background-color: #d13d2f;
}
.icon-social.icon-google-plus:hover {
  background-color: #da6459;
}
.icon-social.icon-pinterest {
  background-color: #c61118;
}
.icon-social.icon-pinterest:hover {
  background-color: #ec1e26;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 100%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.modal {
  border: 0;
}
.modal#loginForm {
  width: 600px;
  margin-left: -300px;
}
.modal .modal-header {
  border: 0;
  padding: 20px 20px 0;
}
.modal .modal-header > h4 {
  font-weight: 300;
  font-size: 14px;
  color: #848484;
  text-transform: uppercase;
  margin: 0;
}
.modal .modal-body {
  padding: 20px;
}
.modal input[type="text"],
.modal input[type="password"] {
  padding: 5px 10px;
  min-height: 30px;
  width: 130px;
  margin-right: 10px;
}
.modal .icon-remove {
  color: #848484;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  display: block;
  background: #ebebeb;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.modal button {
  margin-left: 10px;
  border: 0;
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}
.no-margin {
  margin: 0;
  padding: 0;
}
.registration-form {
  border: 0;
  background-color: #fff;
  padding: 20px;
  display: inline-block;
}
#bottom {
  color: #bdc3c7;
}
#bottom h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
#bottom .media-heading {
  display: block;
  font-weight: 400;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Unordered Lists*/
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before,
ul.arrow li::after,
ul.arrow-double li::after,
ul.tick li::after,
ul.cross li::after,
ul.star li::after,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
  margin-right: 5px;
}
ul.arrow li::before {
  content: "\f105";
}
ul.arrow-double li::before {
  content: "\f101";
}
ul.tick li::before {
  content: "\f00c";
}
ul.cross li::before {
  content: "\f00d";
}
ul.star li::before {
  content: "\f006";
}
ul.rss li::before {
  content: "\f09e";
}
ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: inline-block;
}
ul.social > li {
  display: inline-block;
  margin: 0 5px;
}
ul.social > li > a {
  font-size: 24px;
  color: #666;
}
ul.social > li > a:hover {
  color: #999;
}
.accordion-group {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}
.accordion-heading .accordion-toggle {
  color: #666;
  font-weight: 700;
}
.accordion-inner {
  border-top: 0;
}
.post,
article.attachment {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.post .entry-thumbnail,
article.attachment .entry-thumbnail {
  margin: -20px -20px 20px;
}
.post .entry-thumbnail img,
article.attachment .entry-thumbnail img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.post h2.entry-title,
article.attachment h2.entry-title {
  margin-top: 0;
}
.post .entry-meta,
article.attachment .entry-meta {
  margin-bottom: 20px;
}
.post .entry-meta ul,
article.attachment .entry-meta ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post .entry-meta ul li,
article.attachment .entry-meta ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
.post .entry-meta ul li a,
article.attachment .entry-meta ul li a {
  color: #999;
}
.post sup.featured-post,
article.attachment sup.featured-post {
  font-size: 13px;
  top: -10px;
}
ul.pagination > li > a,
ul.pagination > li > span {
  border: 0;
}
ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #34495e;
  color: #fff;
}
textarea#message {
  padding: 10px 15px;
  height: 219px;
}
.widget {
  margin-bottom: 30px;
}
.timeline {
  position: relative;
  margin-bottom: -3px !important;
}
.timeline .timeline-bar-wrapper {
  position: static;
}
.timeline .timeline-bar {
  text-align: center;
}
.timeline .timeline-bar:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  left: 50%;
  margin-left: -4px;
  border-radius: 3px;
  background-color: #ff5335;
}
.timeline .timeline-bar h2 {
  margin: 20px 0;
  position: relative;
  z-index: 1;
  font-weight: 700;
}
.timeline h2.time {
  background: #f5f5f5;
}
.timeline i {
  display: inline-block;
  margin: 10px 0;
  font-size: 26px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  line-height: 22px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #ff5335;
}
.timeline .timeline-item-box {
  position: relative;
  z-index: 2;
}
.timeline .timeline-item-box.odd {
  margin-top: 70px;
}
.timeline .timeline-item-box.odd:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #fff;
  border-width: 10px;
  top: 30%;
  margin-top: -15px;
}
.timeline .timeline-item-box.even {
  margin-top: 120px;
}
.timeline .timeline-item-box.even:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #fff;
  border-width: 10px;
  top: 30%;
  margin-top: -15px;
}
.box {
  background: #FFF;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.rounded {
  border-radius: 3px;
}
#error {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #bdc3c7;
}
#footer a {
  color: #bdc3c7;
}
#footer a:hover {
  color: #34495e;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
.tab-content {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 0;
}
.nav-tabs > li > a {
  color: #555;
  cursor: pointer;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
  border-color: #ddd;
}
a.accordion-toggle {
  display: block;
}
div.pp_default .pp_description {
  margin-top: 13px;
}

/*shortcode*/
.dropcap {
  overflow: hidden;
}
.dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
/*block*/
.block.rounded{
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    border-style: solid;

}

.block.border-solid{
    border-style: solid;

}
.block.border-dashed{
    border-style: dashed;

}
.block.border-dotted{
    border-style: dotted;

}

/* Block number */
.blocknumber {
     position: relative;
     min-height: 45px;
     padding:10px 0 5px 60px;
 }

.blocknumber span{
        font-weight:bold;
        width:48px;
        height:48px;
        line-height:48px;
        display:block;
        text-align:center;
        position: absolute;
        top: 0;
        left: 0;
    }

}

/*core*/

code{
    display: inline-block;
    white-space: inherit;
    margin: 10px 0 5px;
}

/*right side widget area*/
.widget-area ul{
    list-style: none;
    padding: 0;
}
.widget-area ul li{
    padding: 5px 0;
}
.widget-area .tagcloud{

}

/*search*/
.widget-area #searchform{
    margin-bottom: 30px;
}

/*calender*/
.widget-area #calendar_wrap table{
    width: 100% ;
}
.widget-area #calendar_wrap th{
    text-align: center;
}
.widget-area #calendar_wrap td{
    text-align: center;
}
.widget-area #calendar_wrap tr{
    border-bottom: 1px solid #eee;
    line-height: 25px;
}
.widget-area #calendar_wrap #prev{
    text-align: left;
}
.widget-area #calendar_wrap #next{
    text-align: right;
}
/*tag clound*/
.widget-area .tagcloud a{
    font-size: 14px !important;
    color: #FFF;
    background-color: #428BCA;
    border-color: #285E8E;
    padding: 1px 5px;
    margin-bottom: 2px;
    display: inline-block;
    border-radius: 3px;
}

.widget-area .tagcloud a:hover{
    background-color: #3276B1;
}

.widget-area ul li{
    padding: 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.widget-area ul li a{
   margin-left: 10px;
}
.widget-area ul li:before{
    position: absolute;

    font-family: FontAwesome;
    content: "\f105";
}
.widget-area ul.children{
    margin-top: 10px;
}
.widget-area ul.children li{
    margin-left: 15px;
}
.widget-area select{
    width: 100%;
    margin: 10px 0;
    height: 34px;
    padding: 6px 12px;
}
.widget-area img{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.wp-smiley{
    display: inline-block;
}
.rsswidget{
    display: inline-block;
}
.textwidget img{
    margin-top: 10px;
}
/*blog*/

table{
    width: 100%;
}
tr{
    border-bottom: 1px solid #eee;
}
td,th{
    padding: 8px 0;
}
/*caption*/
.wp-caption img{
    max-width: 100%;
}
.wp-caption p.wp-caption-text{
    padding: 3px;
}

#respond code{
    white-space: normal;
    display: inline-block;
    margin-bottom: 20px;
}

/*paser paginaton,breadcrumbs*/
.pager .previous>a,
.pager .next>a{
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.breadcrumb {
    width: 100%;
    text-align: right;
}
ul.breadcrumb > li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}

/*divider*/

.divider-default{
    margin-bottom: 5px;
}
.divider-lg{
    margin-bottom: 100px;
}
.divider-md{
    margin-bottom: 50px;
}
.divider-sm{
    margin-bottom: 20px;
}
.divider-xs{
    margin-bottom: 10px;
}

/*faq*/
li.faq span.number{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    background: #34495E;
    color: #FFF;
    font-size: 24px;
}
.faq h4{
    margin-top: 0;
}
ul li.faq{
    margin-top: 30px;
}

/*services page*/
.media.services{
    margin-bottom: 30px;
}

/*logo*/
a.navbar-brand img{
    display: inline-block;
}
/*download btn*/
#main-info {
background-color: #ECF0F1;
}

/*pinterest btn*/
.btn-social.btn-pinterest{
    background: #FF0014;
}

/*admin bar*/
.admin-bar .navbar-fixed-top{
    top:32px;
}

/*responsive menu*/
#mobile-menu .navbar-collapse{
    border-top:0;
    box-shadow:none;
}
.navbar-inverse .navbar-nav li{

}
.navbar-inverse .navbar-nav>li a{
    color:#BDC3C7;
    padding: 10px 15px;
    display: block;
}

/*testimonial*/
blockquote small{
    color: rgba(255, 255, 255, 0.8);
}

/*responsive menu*/
.navbar-toggle{
  margin-top: 25px;
}

/*bottom*/
ul#menu-company-menu{
   padding-left: 0;
}
ul#menu-company-menu li{
  list-style: none;
  position: relative;
}
ul#menu-company-menu li:before{
  content: "\f105";
  font-family: FontAwesome;
  margin-right: 5px;
}

/* contact from 7 */
.wpcf7-form-control-wrap input {
  height: 40px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.wpcf7-form-control-wrap .wpcf7-textarea {
  width: 100%;
  border: 1px solid #D0D0D0;
  padding: 10px;
  margin-bottom: 20px;
}

.wpcf7-submit {
  background: transparent;
  border: none;
  margin-bottom: 0;
  color: #fff;
}

.wpcf7 .ajax-loader {
  display: none;
}


/* Custom styles to Bootstrap Navbar */
.navbar-fix-top {
  margin-top: -80px;
}

.navbar-fix-radius-border {
  border-radius: 0 !important;
}
